@font-face {
  font-family: "Dopestyle";
  src: url("./fonts/Dopestyle.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("./fonts/Gobold_Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
